       body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background: #2A7B9B;
background: linear-gradient(90deg, rgba(42, 123, 155, 1) 20%, rgba(24, 237, 113, 1) 38%, rgba(237, 221, 83, 1) 100%);
        }
        .container-principal{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction:column;
            height: 100vh;
            gap: 10px;
        }
        h1{
            padding: 1px;
        }
        main{
            width: 300px;
            height: auto;
            padding: 10px;
            border-radius: 10px;
           
        }
        .container-form{
            border-radius: 10px;
            border: 10px;
            padding: 10px;
            background-color: white;
            display: flex;
           align-items: center;
            justify-content: center;
            width: 300px;
            
        }
        .excluir{
          display: flex;
        
        }
        form{
            display: grid;
            gap: 10px;   
        }
        input{
            border-radius: 10px;
            padding: 5px;
            border: 1px solid black;
            padding: 10px;
        }
        .submit{
            border-radius: 10px;
            background-color: rgb(115, 211, 42);
            padding: 10px;
            border: 1px solid black;
            
        }
        .submit:hover{
            background-color: rgb(95, 167, 23);
        }
        @media (max-width:780px) {
         
        }
        .card1{
            border-radius: 10px;
            border: 10px;
            padding: 10px;
            background-color: white;
            display: flex;
           align-items: center;
            justify-content: center;
            width: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
            justify-content: center;
        }